@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div id="dots-con">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
 </div>