@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div class="contact-banner" style="background-image:url('/img/gallery/contact/gallery2 (18).webp')">
    <div class="container">
        <div class="inner-big-hd">
            <h2>Contact</h2>
        </div>
    </div>
</div>