@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div class="contact-banner" style="background-image:url('/img/gallery/Locatie/gallery2 (1) (1).webp')">
    <div class="container">
        <div class="inner-big-hd">
            <h2>@Umbraco.GetDictionaryValue("location")</h2>
        </div>
    </div>
</div>
