@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div class="contact-banner" style="background-image:url('/img/gallery/faciliteiten/gallery2 (15).webp')">
    <div class="container"> 
        <div class="inner-big-hd">
            <h2>@Umbraco.GetDictionaryValue("facility","Faciliteiten")</h2>
        </div>
    </div>
</div>