@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="Faciliteiten-section pad60">
    <div class="container">
        <div class="locatie-hd">
            <h2 class="bigheading" style="margin-bottom: 30px;">DE WONING</h2>
            <div class="br-line"></div>
            <br>
            <p>Onze nieuwbouwwoning is met veel aandacht voor comfort, duurzaamheid en woonplezier volledig gebouwd in het jaar 2020. We hebben geprobeerd om zo veel mogelijk authentieke elementen te bewaren en waar noodzakelijk vernieuwingen aan te brengen. 
            </p>
        </div>
        <div class="inner-faci">
            <div class="faci-col-left">
                <ul class="faci-ul">
                    <h3 class="hd-locatie">GELIJKVOERS</h3>
                    <li>Activiteitenruimte met pingpongtafel en tafelvoetbal</li>
                    <li>Ruime plaats voor het stallen van fietsen</li>
                </ul>
                <ul class="faci-ul">
                    <h3 class="hd-locatie">TUIN OP NIVEAU VAN VERDIEP 1</h3>
                    <li>Ontbijtterras met tafel en stoelen</li>
                    <li>Middagterras met tafel en stoelen en zonneparasol</li>
                    <li>Zonneterras uitgerust met enkele ligstoelen en een moderne zithoek</li>
                    <li>Speelgazon 400m²</li>
                </ul>
                <ul class="faci-ul">
                    <h3 class="hd-locatie">EXTRA INFO</h3>
                    <li>Niet geschikt voor feestjes met veel lawaai.</li>
                    <li>Roken verboden binnen de woning.</li>
                    <li>Kleine huisdieren (in overleg) welkom.</li>
                    <li>Gratis onbeperkte WIFI.</li>
                </ul>
            </div>
            <div class="faci-col-cntr">
               <ul class="faci-ul">
                    <h3 class="hd-locatie">VERDIEP 1</h3>
                    <li>Nieuwe open keuken uitgerust met eiland, frigo, inductiekookplaat, oven, microgolf, vaatwasmachine, koffiezetapparaat, dampkap en alle nodige keukengerief</li>
                    <li>Gezellige living, uitgerust met comfortabele zitbanken, flatscreen-TV, grote raampartij met zicht op tuin.</li>
                    <li>Via de grote schuifraam in de living heb je toegang tot de tuin.</li>
                    <li>Badkamer : ruime inloopdouche, 2 wastafels met grote ronde spiegels</li>
                    <li>Apart toilet</li>
                </ul>
                   <ul class="faci-ul">
                    <h3 class="hd-locatie">TARIEVEN</h3>
                    <li>Vrijdag 17u00- Zondag 12u00 : €600</li>
                    <li>Vrijdag 17u00 - Maandag 12u00 : €750</li>
                    <li>Midweekprijzen : €400 (2nachten)</li>
                </ul>
                <ul class="faci-ul">
                    <li>Inchecken : tussen 17u00 en 18u00</li>
                    <li>Uitchecken : voor 12u00.</li>
                    <li>Er wordt een waarborg van €250 gevraagd</li>
                </ul>
            </div>

            <div class="faci-col-rght">
                <ul class="faci-ul">
                    <h3 class="hd-locatie">VERDIEP 2</h3>
                    <li>Slaapkamer 1 : 2 Boxspring bedden, stapelbed en kast </li>
                    <li>Slaapkamer 2 : 2 Boxspring bedden en kast</li>
                    <li>Slaapkamer 3: Tweepersoonsboxpring met kast</li>
                    <li>Badkamer : ruime inloopdouche, 2 wastafels met grote ronde spiegels</li>
                    <li>Apart toilet</li>
                </ul>
            </div>
        </div>
    </div>
</section>