@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div class="contact-banner" style="background-image:url('/img/gallery/info/gallery2 (14).webp')">
      <div class="container">
          <div class="inner-big-hd">
              <h2>Info</h2>
          </div>
      </div>
  </div>